html {
	scroll-behavior: smooth;
}

.highlight > div {
    padding: 0.4em 0.4em 0.4em 0em !important;
    background-color: #3F3F3F !important;
}

.highlight > div > table > tbody > tr > td > pre {
    margin: 0em !important;
    border-radius: 0em !important;
}

.highlight > div > table > tbody > tr > td > pre > code.yaml {
    border-right: inset thin #8cd0d3;
}

.highlight > div > table > tbody > tr > td > pre > code.yaml > span {
    margin: 0em !important;
}