article h2 {
    font-size: 2rem;
    margin-top: 2.5rem;
}

.light article h2 {
    border-bottom: solid 3px #313131;
}

.dark article h2 {
    border-bottom: solid 3px #98a6ad;
}

pre {
    border-radius: 0em !important;
}

.highlight > div {
    margin-bottom: 1rem;
}

.highlight > pre {
    margin: 1rem 0rem !important;
}

.highlight > div > table > tbody > tr > td > pre {
    margin: 0em !important;
}

.highlight > div > table > tbody > tr > td > pre > code.yaml {
    border-right: inset thin #8cd0d3;
}

.highlight > div > table > tbody > tr > td > pre > code.yaml > span {
    margin: 0em !important;
}